@charset "utf-8";
@import url("Roboto/stylesheet.css");
@import url("Futurist_Fixed_Width/stylesheet.css");
@import url("Roboto_Light/stylesheet.css");





a {
	text-decoration: none;
	font-family:Roboto;
	color: #0b2d53;
}
a:visited {
	color: #1e4a06;
}
div.links {
	margin-left: auto;
	margin-right: auto;
	width: 18em;
	font-family: "Roboto";
	font-size: 17px;
	color: #000000;
}
table {
	font-family: "Roboto";
	font-size: 17px;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
}
td.divider {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffa3f5;
	font-size: 28px;
}
p {
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	font-family: "Roboto Light";
	font-size: 15px;
	color: #000000;
}
p.foot {
	margin-left: auto;
	margin-right: auto;
	width: 11em;
}
body {
	background-color: #fff2a9;
	background-image: url(footer.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: right bottom;
}
header {
	margin-left: auto;
	margin-right: auto;
	width: 3.8em;
	font-family: "Roboto";
	font-size: 80px;
	color: #ffa3f5;
}
